# ignore python files
pyenv/
__pycache__/
build/
*.egg-info/

# ignore terraform working state
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraform.*

# for local work
local/

# system files
.DS_Store

